.accent-two {
  color: var(--accent-two);
}

.bg-accent {
  background-color: var(--accent-one);
}

.align-start {
  align-items: flex-start;
}

.bg-button-background{
  background-color: var(--accent-two);
}